<?php
/**
 * Elogic BreezeTheme - header links
 * Additional links in the header section
 */

/* @var \Elogic\BreezeTheme\Block\Html\ThemeConfigs $block */
/* @var \Magento\Framework\Escaper $escaper */
?>

<?php $headerLinks = $block->getHeaderLinks(); ?>

<?php if (!empty($headerLinks)) : ?>
    <ul class="header-links--additional hidden-mobile hidden-tablet">
        <?php foreach ($headerLinks as $link) : ?>
            <li>
                <a href="<?= $escaper->escapeUrl($link['link']) ?>">
                    <span><?= $escaper->escapeHtml($link['label']) ?></span>
                </a>
            </li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>
