<?php
/**
 * Magento Theme - logo template
 * Overridden to divide navigation toggle and logo
 */

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 * @var \Magento\Framework\Escaper $escaper
 * @var \Magento\Theme\ViewModel\Block\Html\Header\LogoSizeResolverInterface|null $logoSizeResolver
 */
$storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();
$logoSizeResolver = $block->getLogoSizeResolver();
$logoWidth = $logoSizeResolver !== null && $logoSizeResolver->getWidth()
    ? $logoSizeResolver->getWidth()
    : $block->getLogoWidth();
$logoHeight = $logoSizeResolver !== null && $logoSizeResolver->getHeight()
    ? $logoSizeResolver->getHeight()
    : $block->getLogoHeight();

$viewModel = $block->getViewModel();

$showNavToggle = ($viewModel->getIsFloatingHeaderLinks() && $block->getFloatingLinks()) ||
                 (!$viewModel->getIsFloatingHeaderLinks() && !$block->getFloatingLinks());

$showLogo = ($viewModel->getIsFloatingHeaderLinks() && !$block->getFloatingLinks()) ||
            (!$viewModel->getIsFloatingHeaderLinks());
?>

<?php if ($showNavToggle) : ?>
    <span data-action="toggle-nav" class="action nav-toggle">
        <span><?= $block->escapeHtml(__('Toggle Nav')) ?></span>
    </span>
<?php elseif ($showLogo) : ?>
    <a class="logo"
       href="<?= $escaper->escapeUrl($block->getUrl('')) ?>"
       title="<?= $escaper->escapeHtmlAttr($storeName) ?>"
       aria-label="store logo">
        <img src="<?= $escaper->escapeUrl($block->getLogoSrc()) ?>"
             title="<?= $escaper->escapeHtmlAttr($block->getLogoAlt()) ?>"
             alt="<?= $escaper->escapeHtmlAttr($block->getLogoAlt()) ?>"
            <?= $logoWidth ? 'width="' . $escaper->escapeHtmlAttr($logoWidth) . '"' : '' ?>
            <?= $logoHeight ? 'height="' . $escaper->escapeHtmlAttr($logoHeight) . '"' : '' ?>
        />
    </a>
<?php endif; ?>
