<?php
/**
 * Magento Checkout - Minicart
 * Overridden to add slide modal
 */

/** @var \Magento\Checkout\Block\Cart\Sidebar $block */
/** @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer */
/** @var \Magento\Framework\Escaper $escaper */
/** @var \Elogic\BreezeTheme\Helper\Data $helper */
?>

<?php
    $helper = $this->helper('Elogic\BreezeTheme\Helper\Data');
    $minicartType = $helper->getMinicartType();
?>

<div data-block="minicart" class="minicart-wrapper <?= $minicartType ?>">
    <a class="action showcart" data-bind="scope: 'minicart_content'">
        <span class="text"><?= $escaper->escapeHtml(__('My Cart')) ?></span>
        <span class="counter qty empty"
              data-bind="css: { empty: !!getCartParam('summary_count') == false && !isLoading() }, blockLoader: isLoading">
            <span class="counter-number"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
            <span class="counter-label">
            <!-- ko if: getCartParam('summary_count') -->
                <!-- ko text: getCartParam('summary_count') --><!-- /ko -->
                <!-- ko i18n: 'items' --><!-- /ko -->
            <!-- /ko -->
            </span>
        </span>
    </a>
    <?php if ($block->getIsNeedToDisplaySideBar()):?>
        <div class="block block-minicart"
             <?php if ($minicartType === 'dropdown') : ?>
                 data-role="dropdownDialog"
                 data-mage-init='{"dropdownDialog":{
                    "appendTo":"[data-block=minicart]",
                    "triggerTarget":".showcart",
                    "timeout": "2000",
                    "closeOnMouseLeave": false,
                    "closeOnEscape": true,
                    "triggerClass":"active",
                    "parentClass":"active",
                    "buttons":[]}}'
            <?php endif; ?>>
            <div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
            <?= $block->getChildHtml('minicart.addons') ?>
        </div>

        <?php if ($minicartType === 'slider') : ?>
            <script type="text/javascript">
                require([
                    "jquery",
                    "Magento_Ui/js/modal/modal"
                ], function($, modal) {

                    var options = {
                        type: 'slide',
                        responsive: true,
                        modalClass: 'minicart-popup',
                        title: '<?= $escaper->escapeHtml(__('Shopping Cart')) ?>',
                        appendTo: "[data-block=minicart]",
                        buttons: false
                    };

                    var popup = modal(options, $('.block-minicart'));
                    $('.showcart').click(function() {
                        $('.block-minicart').modal('openModal');
                    });
                });
            </script>
        <?php endif; ?>
    <?php endif ?>

    <?php if (isset($secureRenderer)) : ?>
        <?= /* @noEscape */ $secureRenderer->renderTag('script', [], 'window.checkout = ' .
            /* @noEscape */ $block->getSerializedConfig(), false); ?>
    <?php else: ?>
        <script>
            window.checkout = <?= /* @noEscape */ $block->getSerializedConfig() ?>;
        </script>
    <?php endif ?>

    <script type="text/x-magento-init">
    {
        "[data-block='minicart']": {
            "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
        },
        "*": {
            "Magento_Ui/js/block-loader": "<?= $block->escapeJs(
                $block->escapeUrl($block->getViewFileUrl('images/loader-1.gif'))
            ) ?>"
        }
    }
    </script>
</div>
