<?php
/**
 * Elogic BreezeTheme - footer columns
 * Social media icons
 */

/* @var \Elogic\BreezeTheme\Block\Html\ThemeConfigs $block */
/* @var \Magento\Framework\Escaper $escaper */
?>

<?php $socialMedia = $block->getSocialMedia(); ?>

<?php if (!empty($socialMedia)) : ?>
    <ul class="social-media">
        <?php foreach ($socialMedia as $media) : ?>
            <li class="<?= $escaper->escapeHtml($media['name']) ?>">
                <a href="<?= $escaper->escapeUrl($media['link']) ?>">
                    <svg viewBox="0 0 32 32" width="32" height="32" class="icon icon-<?= $escaper->escapeHtml($media['name']) ?>">
                        <use xlink:href="#icon-<?= $escaper->escapeHtml($media['name']) ?>"></use>
                    </svg>
                    <span class="abs-visually-hidden"><?= $escaper->escapeHtml($media['name']) ?></span>
                </a>
            </li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>
