<?php
/**
 * Elogic BreezeTheme - store info
 * Opening times and Phone number
 * TODO: make configurations
 */

/* @var \Elogic\BreezeTheme\Block\Html\ThemeConfigs $block */
/* @var \Magento\Framework\Escaper $escaper */
?>

<div class="store-info">
    <?php if($block->getPhoneNumber()) : ?>
        <div class="store-info__phone-number">
            <div class="store-info__block-title">
                <svg viewBox="0 0 32 30" width="32" height="30" class="icon header-icon header-icon--account">
                    <use xlink:href="#icon-phone"></use>
                </svg>
                <span><?= $escaper->escapeHtml(__('Call Us:')) ?></span>
            </div>
            <a href="tel: <?= $escaper->escapeUrl(preg_replace('/\s+/', '_', $block->getPhoneNumber())) ?>">
                <span><?= $escaper->escapeUrl($block->getPhoneNumber()) ?></span>
            </a>
        </div>
    <?php endif; ?>

    <?php if ($openingHours = $block->getOpeningHours()) : ?>
        <div class="store-info__opening-hours">
            <div class="store-info__block-title">
                <svg viewBox="0 0 32 30" width="32" height="30" class="icon header-icon header-icon--account">
                    <use xlink:href="#icon-store"></use>
                </svg>
                <span><?= $escaper->escapeHtml(__('Opening Hours:')) ?></span>
            </div>
            <ul>
                <?php foreach ($openingHours as $item) : ?>
                    <li>
                        <span><?= $escaper->escapeHtml($item['label']) ?></span>
                        <span><?= $escaper->escapeHtml($item['value']) ?></span>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
    <?php endif; ?>
</div>
