//
//  Minicart
//  _____________________________________________

//
//  Variables
//  _____________________________________________

@minicart__border-color: @color-gray80;
@minicart__padding-horizontal: @indent__base;

@minicart-qty__height: 16px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Minicart
    //  ---------------------------------------------

    .minicart-wrapper {
        max-height: 25px;

        .lib-dropdown(
            @_toggle-selector: ~'.action.showcart',
            @_options-selector: ~'.block-minicart',
            @_dropdown-list-width: 320px,
            @_dropdown-list-position-right: -10px,
            @_dropdown-list-pointer-position: right,
            @_dropdown-list-pointer-position-left-right: 12px,
            @_dropdown-list-z-index: 101,
            @_dropdown-list-item-padding: false,
            @_dropdown-list-item-hover: false,
            @_dropdown-toggle-icon-content: false,
            @_dropdown-toggle-active-icon-content: false
        );

        .block-minicart {
            .lib-css(padding, 25px @minicart__padding-horizontal);

            .block-title {
                display: none;
            }
        }

        .action {
            &.showcart {
                white-space: nowrap;

                .counter.qty {
                    .lib-font-size(8px);
                    .lib-css(background, @secondary__color);
                    .lib-css(width, @minicart-qty__height);
                    .lib-css(height, @minicart-qty__height);
                    .lib-css(line-height, @minicart-qty__height);
                    .lib-css(color, @color-white);
                    border-radius: 50%;
                    text-align: center;
                    position: absolute;
                    top: -3px;
                    right: 8px;

                    &.empty {
                        display: none;
                    }

                    .counter-number {
                        .lib-css(color, @color-white);
                    }

                    .loader {
                        > img {
                            .lib-css(max-width, @minicart-qty__height);
                        }
                    }
                }

                .counter-label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }

        .minicart-widgets {
            margin-top: 15px;
        }
    }


    // Minicart items

    .minicart-items-wrapper {
        .product-item {
            margin: 0;
            border-radius: 0;
            border: 0;
            width: 100%;
            border-bottom: 1px solid @border-color__base;
            padding: @indent__base;

            &:first-child {
                padding-top: 0;
            }

            &-name {
                font-size: @font-size__base;
                font-weight: @font-weight__bold;
                margin: 0 0 @indent__s;
            }
        }

        .product {
            display: flex;
        }

        .price-container {
            margin-bottom: @indent__base;
        }
    }

    .minicart-items {
        .lib-list-reset-styles();





        .product-item-details {
            .product {
                .options {
                    &.list {
                        &:extend(.abs-product-options-list all);
                        &:extend(.abs-add-clearfix all);
                    }
                }
            }
        }

        .product {


            .toggle {
                &:extend(.abs-toggling-title all);
                border: 0;
                padding: 0 0 @indent__xs 0;
                white-space: nowrap;

                &:after {
                    .lib-css(color, @color-gray56);
                    margin: 0 0 0 @indent__xs;
                    position: static;
                }
            }

            .active {
                > .toggle {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-up,
                        @_icon-font-position: after
                    );
                }
            }

            &.pricing {
                margin-top: 3px;
            }

            &.options {
                .toggle {
                    &.tooltip {
                        .lib-icon-font(
                            @icon-down,
                            @_icon-font-size: 12px,
                            @_icon-font-line-height: 12px,
                            @_icon-font-text-hide: true,
                            @_icon-font-margin: -3px 0 0 7px,
                            @_icon-font-position: after
                        );
                    }

                    > span {
                        &:extend(.abs-visually-hidden-reset all);
                    }
                }

                .details {
                    display: none;
                }
            }
        }



        .action {
            &.edit,
            &.delete {
                .lib-icon-font(
                    @icon-edit,
                    @_icon-font-size: 18px,
                    @_icon-font-line-height: 20px,
                    @_icon-font-text-hide: true,
                    @_icon-font-color: @minicart-icons-color,
                    @_icon-font-color-hover: @primary__color,
                    @_icon-font-color-active: @minicart-icons-color
                );
            }

            &.delete {
                .lib-icon-font-symbol(
                    @_icon-font-content: @icon-trash
                );
            }
        }
    }

    //
    //  Minicart Popup
    //  _____________________________________________

    .minicart-popup {
        .modal-header {
            border-bottom: 1px solid @border-color__base;

            h1 {
                margin: 0;
            }
        }

        .modal-content {
            margin-top: @indent__base;
            padding: 0;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .minicart-wrapper {
        max-height: none;
    }

    //
    //  Minicart Popup
    //  _____________________________________________

    .minicart-popup {
        max-width: 550px;
        left: auto;
    }

    .block-minicart {
        min-width: 450px;
    }
}
