.pagebuilder-button-primary,
.pagebuilder-button-secondary,
.pagebuilder-button-link {
    &:extend(.breeze-button all);
}
.pagebuilder-button-primary {
    &:extend(.breeze-button-primary all);
}
.pagebuilder-button-secondary {
    &:extend(.breeze-button-secondary all);
}
.pagebuilder-button-link {
    &:extend(.breeze-button-link all);
}

[data-content-type="tabs"] {
    .tab-header {
        &:extend(.breeze-tab-toggler all);
        &.active {
            &:extend(.breeze-tab-toggler-active all);
        }
    }
    .tabs-content {
        > div {
            &:extend(.breeze-tab-content all);
            &[aria-hidden=false] {
                &:extend(.breeze-tab-content-active all);
            }
        }
    }
}

& when (@critical) {
    .page-layout-cms-full-width {
        .page-main {
            max-width: none;
            margin: 0;
            padding: 0;
        }
        .page-title-wrapper .page-title {
            &:extend(.container);
        }
    }
    body:not(.page-layout-cms-full-width) {
        .main > [data-content-type="row"] [data-element="inner"] {
            // prevent doubled container styles because .page-main is a container
            padding: 0;
            margin: 0;
            max-width: none;
        }
    }
    .pagebuilder {
        &-mobile {
            &-hidden {
                @media @media-md-down {
                    display: none;
                }
            }
            &-only {
                @media @media-md {
                    display: none;
                }
            }
        }
    }
    .highlight {
        font-weight: 500;
    }

    // prevent too wide background images
    @media @media-xl {
        .xl-bg-clamp [data-background-images] {
            background-size: ~"clamp(0px, 1400px, 100%) !important";
        }
        .xl-bg-center [data-background-images] {
            background-position: center !important;
        }
    }

    [data-content-type="row"] {
        &:extend(.breeze-prose all);
        [data-element="inner"] {
            &:extend(.container);
            padding-top: 0;
            padding-bottom: 0;
            &.narrow {
                --container-max-width: @md;
            }
        }
    }

    [data-content-type="buttons"] {
        display: flex;
        flex-wrap: wrap;
        gap: @4;

        &[data-appearance="stacked"] {
            flex-direction: column;
        }
    }

    [data-content-type="tabs"] {
        .tabs-navigation {
            &:extend(.breeze-prose-reset ul all);
            display: flex;
            @media @tab-accordion__media {
                flex-direction: column;
            }
        }
        .tab-header {
            > a {
                color: inherit;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    // Banners
    [data-content-type="banner"] {
        a {
            display: block;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .pagebuilder-banner-wrapper {
        .v-middle & {
            display: flex;
            align-items: center;
        }
    }

    .pagebuilder-overlay {
        &:extend(.transition);
        padding: 30px;
        position: relative;

        &.pagebuilder-poster-overlay {
            align-items: center;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        &:not(.pagebuilder-poster-overlay) {
            max-width: 540px;
        }

        [data-appearance='collage-centered'] & {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .pagebuilder-poster-content {
        width: 100%;
    }

    .pagebuilder-banner-button {
        margin: 20px 0 0 0;
    }

    // Slider and carousel
    .slick-dots {
        &:extend(.breeze-prose-reset ul all);
        width: 100%;
        padding: @2-5 0;
        display: flex;
        justify-content: center;
        gap: @2;

        button {
            padding: 0;
            border-radius: 50%;
            border: 1px solid @divider__color;
            background: @black;
            text-indent: -9999px;
            display: block;
            width: @4;
            height: @4;
            box-shadow: 0 0 0 1px @white;
        }
        .slick-active button {
            background: @white;
        }
    }

    .slick-arrow {
        position: absolute;
        z-index: 11;
        top: @slider-arrow__top;
        width: @slider-arrow__width;
        height: @slider-arrow__height;
        transform: @slider-arrow__transform;
        --base-bg-alpha: .7;
        background-color: @slider-arrow__background-color;
        .lib-css(border, @slider-arrow__border);
        display: none;
        gap: 0;
        align-items: center;
        justify-content: center;
        font-size: 0 !important;
        line-height: 0 !important;
        padding: 0;
        border-radius: 0;

        .slick-initialized {
            display: flex;
        }

        &::before {
            content: '';
            display: block;
            width: @6;
            height: @6;
        }

        &.slick-disabled {
            opacity: 0;
            pointer-events: none
        }
    }
    .slick-prev {
        .left(0);
        .lib-css(border-width, @slider-arrow-prev__border-width);
    }
    .slick-next {
        .right(0);
        .lib-css(border-width, @slider-arrow-next__border-width);
    }

    [data-appearance="carousel"] {
        .product-items {
            &:extend(.products-grid .product-items all);
            @media @media-md-down {
                .product-item-inner {
                    margin-top: 0;
                }
            }
        }
    }

    .cols-gap .pagebuilder-column-group { gap: @4; } // deprecated
    .gap-1 > .pagebuilder-column-group { &:extend(.gap-1); }
    .gap, .gap-2 > .pagebuilder-column-group { &:extend(.gap-2); }
    .gap-3 > .pagebuilder-column-group { &:extend(.gap-3); }
    .gap-4 > .pagebuilder-column-group { &:extend(.gap-4); }
    .gap-5 > .pagebuilder-column-group { &:extend(.gap-5); }
    .gap-6 > .pagebuilder-column-group { &:extend(.gap-6); }
    .gap-7 > .pagebuilder-column-group { &:extend(.gap-7); }
    .gap-8 > .pagebuilder-column-group { &:extend(.gap-8); }

    @media @media-md-down {
        .pagebuilder-column-group {
            row-gap: @4;
            flex-wrap: wrap;
        }
        .pagebuilder-column {
            flex-basis: 100%;
            max-width: 100%;
        }
    }
}

& when not (@critical) {
    .slick-next::before,
    .slick-prev::before {
        .breeze-icon(@icon-chevron);
    }
    .slick-prev::before {
        .modrtl(transform, scaleX(-1), false);
    }
    .slick-next::before {
        .modrtl(transform, false, scaleX(-1));
    }

    #html-body {
        [data-show-button="hover"]:hover button {
            opacity: 1;
            visibility: visible;
        }
    }
}


// Custom
//
//  FAQs
//  _____________________________________________
.content-block {
    &--centered {
        text-align: center;
    }

    &--right {
        text-align: right;
    }
}

//
//  FAQs
//  _____________________________________________

[data-content-type="faq"] {
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    width: 100%;
}


[data-content-type="faq-item"] {
    [data-role="collapsible"] {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #ccc;
        padding: 14px 0;
        cursor: pointer;

        svg:first-of-type {
            display: none;
        }

        &[aria-expanded="true"] {
            svg:first-of-type {
                display: block;
            }

            svg:last-of-type {
                display: none;
            }
        }
    }

    [data-element=answer] {
        p {
            font-size: 12px;
            font-weight: 300;
            padding-bottom: 20px;
        }
    }
}


//
//  Customer Quote
//  ________________________________

.pagebuilder-quote {
    &__wrapper {
        position: relative;
    }

    &__content {
        background: #8491a8;
        padding: 20px;
        margin: 0 20px 20px;
        position: relative;
        top: -60px;
    }

    &__text {
        margin: 0;
    }

    &__image {
        width: 100%;

        img {
            display: block;
            width: 100%;
        }
    }
}

@media @media-md {

    .pagebuilder-quote {
        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 40px;
        }

        &__content {
            position: absolute;
            max-width: 355px;
            top: auto;
            margin: 0;

            &:only-child {
                position: relative;
            }
        }

        &__image {
            max-width: 65%;
            margin-left: auto;
        }

        &--right {
            .pagebuilder-quote__image {
                margin-left: 0;
                margin-right: auto;
            }

            .pagebuilder-quote__content {
                right: 0;
            }
        }

        &--center {
            .pagebuilder-quote__image {
                max-width: 100%;
                margin: 0 auto;
            }

            .pagebuilder-quote__content {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

@media @media-lg {
    .pagebuilder-quote {
        &__content {
            max-width: 555px;
        }

        &__text {
            font-size: 22px;
        }
    }
}

//
//  Slider progress bar
//  ________________________________

.progress-bar {
    display: block;
    width: 100%;
    height: 1px;
    overflow: hidden;
    background-color: #E1E1E1;
    background-image: linear-gradient(to right, #000000, #000000);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size 0.4s ease-in-out;
    margin-top: 20px;
}

//
//  Slider items
//  ________________________________

.content-block-slider {
    display: flex;
    flex-wrap: wrap;

    .slick-list {
        gap: 10px;
        row-gap: 10px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        overflow-x: auto;
        scroll-behavior: smooth;
        scroll-snap-type: none;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    &[data-slides-to-show="2"],
    &[data-slides-to-show="3"],
    &[data-slides-to-show="4"],
    &[data-slides-to-show="5"] {
        .content-block {
            width: ~'calc(50% - 10px)';

            @media @media-md {
                width: ~'calc(33.3333% - 10px)';
            }
        }
    }
}

@media @media-lg {
    .content-block-slider {
        .content-block {
            width: 100%;
        }

        &[data-slides-to-show="2"] {
            .content-block {
                width: ~'calc(50% - 10px)';
            }
        }

        &[data-slides-to-show="3"] {
            .content-block {
                width: ~'calc(33.3333% - 10px)';
            }
        }

        &[data-slides-to-show="4"] {
            .content-block {
                width: ~'calc(25% - 10px)';
            }
        }

        &[data-slides-to-show="5"] {
            .content-block {
                width: ~'calc(20% - 10px)';
            }
        }
    }
}
