@respect-color-scheme: false;

//
//  Fonts
//  _____________________________________________

& when (@critical) {
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(../fonts/montserrat/Montserrat-Light.woff2) format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(../fonts/montserrat/Montserrat-Regular.woff2) format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(../fonts/montserrat/Montserrat-Medium.woff2) format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(../fonts/montserrat/Montserrat-SemiBold.woff2) format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(../fonts/montserrat/Montserrat-Bold.woff2) format('woff2');
    }
}

// apply new font for all texts:
@base__font-family: 'Montserrat', sans-serif;


//
//  Responsive Global Classes
//  to show/hide elements on different devices
//  ---------------------------------------------

//
//  Desktop
//  _____________________________________________

@media @media-lg {
    .hidden-desktop {
        display: none !important;
    }
}

//
//  Tablet
//  _____________________________________________

@media @media-md and @media-lg-down {
    .hidden-tablet {
        display: none !important;
    }
}

//
//  Mobile
//  _____________________________________________

@media @media-md-down {
    .hidden-mobile {
        display: none !important;
    }
}


@import 'variables/_icons.less';


//
//  Hover images
//  _____________________________________________

.product-item-photo__hover {
    .product-image-photo {
        transition: opacity 0.3s;

        &:last-child {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
        }
    }

    &:hover {
        .product-image-photo:first-child {
            opacity: 0;
        }
        .product-image-photo:last-child {
            opacity: 1;
        }
    }
}

//
//  Sticky add to cart
//  Todo: check configurables and bundles
//  _____________________________________________

.product-add-form {
    &.sticky-addto {
        position: fixed;
        bottom: 0;
        z-index: 20;
        background: #fff;
        width: 100%;
    }
}

//
//  Sticky add to cart
//  Todo: check configurables and bundles
//  _____________________________________________

@media @media-md-down {
    .__with-floating-header-links {
        .header__column--quaternary {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #fff;
            justify-content: space-around;
            box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.15);
            z-index: 9;
        }
    }
}

//
//  Messages
//  _____________________________________________

& when (@critical) {
    .page.messages {
        position: fixed;
        top: 144px;
        z-index: 15;
        width: 100%;

        .message {
            display: none;

            &.shown {
                display: block !important;
            }
        }
    }
}

//
//  Collapsible
//  _____________________________________________

[data-role="content"][animated="true"] {
    display: block !important;
    overflow: hidden;
    transition: 0.5s;
    max-height: 0;
}

.field.password,
.field.confirmation {
    position: relative;

    .show-pass {
        bottom: 15px;
        right: 5px;
        padding: 5px;
        max-height: 30px;
        z-index: 9;
        position: absolute;
        cursor: pointer;

        .icon-hide-pass {
            display: none;
        }

        .icon-hide-pass,
        .icon-show-pass {
            position: relative;
            cursor: pointer;
            font-size: 0;
            top: 8px;

            &::before {
                .breeze-icon(@icon-eye-crossed);
            }
        }

        .icon-show-pass {
            &::before {
                .breeze-icon(@icon-eye);
            }
        }

        &.__hide {
            .icon-hide-pass {
                display: block;
            }

            .icon-show-pass {
                display: none;
            }
        }
    }
}
