<?php
/**
 * Swissup Breeze Checkout - item default
 * Overridden to do something
 * TODO: add correct annotation
 */
?>

<li class="item product product-item" data-role="product-item">
    <div class="product">
        <!-- ko if: product_has_url -->
        <a data-bind="
            attr: {href: product_url, title: product_name},
            template: { name: 'productImage', data: item.product_image }"
            tabindex="-1"
            class="product-item-photo"
        ></a>
        <!-- /ko -->
        <!-- ko ifnot: product_has_url -->
        <span class="product-item-photo" data-bind="
            attr: {href: product_url, title: product_name},
            template: { name: 'productImage', data: item.product_image }"
        ></span>
        <!-- /ko -->

        <div class="product-item-details">
            <strong class="product-item-name">
                <!-- ko if: product_has_url -->
                <a data-bind="attr: {href: product_url}, html: product_name"></a>
                <!-- /ko -->
                <!-- ko ifnot: product_has_url -->
                <span data-bind="html: product_name"></span>
                <!-- /ko -->
            </strong>

            <!-- ko if: options.length -->
            <div class="product options" data-mage-init='{"collapsible":{"openedState": "active", "saveState": false}}'>
                <span data-role="title" class="toggle"><!-- ko text: $t('See Details') --><!-- /ko --></span>

                <div data-role="content" class="content">
                    <strong class="subtitle"><!-- ko text: $t('Options Details') --><!-- /ko --></strong>
                    <dl class="product options list">
                        <!-- ko foreach: { data: options, as: 'option' } -->
                        <dt class="label"><!-- ko text: option.label --><!-- /ko --></dt>
                        <dd class="values">
                            <!-- ko if: Array.isArray(option.value) -->
                                <span data-bind="html: option.value.join('<br/>')"></span>
                            <!-- /ko -->
                            <!-- ko if: (!Array.isArray(option.value) && ['file', 'html'].includes(option.option_type)) -->
                                <span data-bind="html: option.value"></span>
                            <!-- /ko -->
                            <!-- ko if: (!Array.isArray(option.value) && !['file', 'html'].includes(option.option_type)) -->
                            <span data-bind="text: option.value"></span>
                            <!-- /ko -->
                        </dd>
                        <!-- /ko -->
                    </dl>
                </div>
            </div>
            <!-- /ko -->

            <div class="product-item-pricing">
                <!-- ko if: canApplyMsrp -->
                <div class="details-map">
                    <span class="label" data-bind="text: $t('Price')"></span>
                    <span class="value" data-bind="text: $t('See price before order confirmation.')"></span>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: canApplyMsrp -->
                    <!-- ko let: { price: item.product_price } -->
                    <?= $this->getChildHtml('priceSidebar') ?>
                    <!-- /ko -->
                <!-- /ko -->

                <div class="details-qty qty" data-bind="mageInit: {qtyControls: {}}">
                    <label class="label" data-bind="text: $t('Qty'), attr: {
                           for: 'cart-item-'+item_id+'-qty'}"></label>
                    <button type="button"
                            class="qty-control"
                            data-type="decrement">
                        -
                    </button>
                    <input data-bind="attr: {
                           id: 'cart-item-'+item_id+'-qty',
                           'data-cart-item': item_id,
                           'data-item-qty': qty,
                           'data-cart-item-id': product_sku
                           }, value: qty"
                           type="text"
                           class="item-qty cart-item-qty qty">
                    <button type="button"
                            class="qty-control"
                            data-type="increment">
                        +
                    </button>
                    <button data-bind="attr: {
                           id: 'update-cart-item-'+item_id,
                           'data-cart-item': item_id,
                           title: $t('Update')
                           }"
                            class="update-cart-item"
                            style="display: none">
                        <span data-bind="text: $t('Update')"></span>
                    </button>
                </div>
            </div>

            <div class="product actions">
                <!-- ko if: is_visible_in_site_visibility -->
                <div class="primary">
                    <a data-bind="attr: {href: configure_url, title: $t('Edit item')}" class="action edit">
                        <span data-bind="text: $t('Edit')"></span>
                    </a>
                </div>
                <!-- /ko -->
                <div class="secondary">
                    <a href="#" data-bind="attr: {'data-cart-item': item_id, title: $t('Remove item')}"
                       class="action delete">
                        <span data-bind="text: $t('Remove')"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- ko if: $data.message -->
    <div class="message notice">
        <div data-bind="text: $data.message"></div>
    </div>
    <!-- /ko -->
</li>
