<?php
/**
 * Magento Customer - Login
 * Adds header login wrapper
 */

/**
 * @var \Elogic\BreezeTheme\Block\Html\ThemeConfigs $block
 * @var \Magento\Framework\Escaper $escaper
 */
?>

<div class="login-wrapper">
    <?php if ($block->isLoginPopupEnabled()) : ?>
        <?= $block->getChildHtml('customer-popup-login') ?>
        <?= $block->getChildHtml('customer-popup-register') ?>
    <?php else : ?>
        <?= $block->getChildHtml('header.account') ?>
    <?php endif; ?>
</div>

<script type="text/x-magento-init">
    {
        ".field.password, .field.confirmation": {
            "showHidePass": {}
        }
    }
</script>
